extends layout

block content
  section#rides.rides
    h2.heading
      i.fas.fa-car
      |  Available 
      span Rides
    .container
      if rides.length
        each ride in rides
          .ride-box
            .ride-info
              h3 From #{ride.start_location} to #{ride.end_location}
              p
                i.fas.fa-calendar-alt
                |  Date: #{ride.ride_date}
              p
                i.fas.fa-clock
                |  Time: #{ride.ride_time}
              p
                i.fas.fa-user
                |  Driver: #{ride.driver_name}
              p
                i.fas.fa-car
                |  Seats Available: #{ride.seats_available}
              p
                i.fas.fa-pound-sign
                |  Cost per Seat: £#{ride.cost_per_seat}
            a.btn(href='#') Book This Ride
      else
        p No rides available at the moment.

  // Add Ride Form
  h2.heading
    i.fas.fa-car
    |  Add a new  
    span Ride

  form(method='POST', action='/rides/add', class='ride-form')
    .form-group
      label(for='start_location') Start Location
      input(type='text', name='start_location', id='start_location', placeholder='Enter Start Location', required)
    .form-group
      label(for='end_location') End Location
      input(type='text', name='end_location', id='end_location', placeholder='Enter End Location', required)
    .form-group
      label(for='ride_date') Ride Date
      input(type='date', name='ride_date', id='ride_date', required)
    .form-group
      label(for='ride_time') Ride Time
      input(type='time', name='ride_time', id='ride_time', required)
    .form-group
      label(for='seats_available') Seats Available
      input(type='number', name='seats_available', id='seats_available', placeholder='Enter number of seats', required)
    .form-group
      label(for='cost_per_seat') Cost per Seat (£)
      input(type='number', step='0.01', name='cost_per_seat', id='cost_per_seat', placeholder='Enter cost per seat', required)
    .form-group
      label(for='driver_name') Driver Name
      input(type='text', name='driver_name', id='driver_name', placeholder='Enter Driver Name', required)
    button(type='submit', class='submit-btn') Add Ride
